@model TournamentListModel

@{
    ViewBag.Title = "Tournaments";
}

<p>
  The Portland Timbers Community Cup brings Pacific Northwest businesses together for soccer and networking, 
    all while raising money to benefit the Portland Timbers Stand Together Community Fund (PTCF). The annual 
    event gives your employees a taste of the professional soccer life. You’ll play qualifiers at THPRD – 
    Howard M. Terpenning Complex and earn your way to the championship match at Providence Park!
</p>

<h2>Tournament List</h2>

<table>
    <tr valign="top">
        <th>Tournament</th>
        <th>Description</th>
        <th></th>
    </tr>
@foreach (var tournament in Model.RecentTournaments)
{
    <tr>
        <td>
            <a href="/tournaments/@tournament.Slug">@Html.DisplayFor(m => tournament.Name)</a>
        </td>
        <td>
            <strong>@Html.Multiline(tournament.Description)</strong>
        </td>
        <td>
        @if (ViewBag.CanEditTournament(tournament)) {
            @Html.ActionLink("Edit", "Edit", "Tournaments", new { id = tournament.Id, tournamentSlug = tournament.Slug }, null)
        }
        </td>
    </tr>
}
    <tr><td colspan="2" style="padding: 10px;">past years</td></tr>
@foreach (var tournament in Model.ArchivedTournaments)
{
    <tr>
        <td>
            <a href="/tournaments/@tournament.Slug">@Html.DisplayFor(m => tournament.Name)</a>
        </td>
        <td>
            @Html.Multiline(tournament.Description)
        </td>
        <td>
        @if (ViewBag.CanEditTournament(tournament)) {
            @Html.ActionLink("Edit", "Edit", "Tournaments", new { id = tournament.Id, tournamentSlug = tournament.Slug }, null)
        }
        </td>
    </tr>
}
</table>

@if (ViewBag.HasEditAccess) {
    <p>@Html.RouteLink("Create New", "CreateTournament", new { Action = "Create", Controller = "Tournaments" })</p>
}