@model TournamentReport.Models.Game

@{
    ViewBag.Title = "Game Result for " + Model.HomeTeam.Name + " vs " + Model.AwayTeam.Name;
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Game Result for @Model.HomeTeam.Name (home) vs @Model.AwayTeam.Name (away)</legend>

        @Html.HiddenFor(model => model.Id)

        <h3>Score</h3>

        <div class="editor-label">
            Home Team <strong>(@Model.HomeTeam.Name)</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeamScore)
            @Html.ValidationMessageFor(model => model.HomeTeamScore)
        </div>

        <div class="editor-label">
            Away Team <strong>(@Model.AwayTeam.Name)</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AwayTeamScore)
            @Html.ValidationMessageFor(model => model.AwayTeamScore)
        </div>

        <h3>Cards</h3>
        <div class="editor-label">
            Home Team <strong>(@Model.HomeTeam.Name)</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeamCards)
            @Html.ValidationMessageFor(model => model.HomeTeamCards)
        </div>

        <div class="editor-label">
            Away Team <strong>(@Model.AwayTeam.Name)</strong>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AwayTeamCards)
            @Html.ValidationMessageFor(model => model.AwayTeamCards)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.RoundId, "Round")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RoundId", String.Empty)
            @Html.ValidationMessageFor(model => model.RoundId)
        </div>
*@
        @Html.HiddenFor(m => m.RoundId)
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Standings", "Home", new { tournamentSlug = ViewBag.TournamentSlug }, null)
</div>
