@model TournamentReport.Models.Tournament

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tournament</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Slug)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Slug)
            @Html.ValidationMessageFor(model => model.Slug)
        </div>

        <fieldset>
            <legend>Scoring Rules</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.PointsForWin)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PointsForWin)
                @Html.ValidationMessageFor(model => model.PointsForWin)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PointsForDraw)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PointsForDraw)
                @Html.ValidationMessageFor(model => model.PointsForDraw)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PointsForShutOut)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PointsForShutOut)
                @Html.ValidationMessageFor(model => model.PointsForShutOut)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PointsPerGoalScored)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PointsPerGoalScored)
                @Html.ValidationMessageFor(model => model.PointsPerGoalScored)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MaxPointsForGoalsScored) (<em>This caps the number of points a team can get for goals.</em>)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MaxPointsForGoalsScored)
                @Html.ValidationMessageFor(model => model.MaxPointsForGoalsScored)
            </div>
        </fieldset>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>
